/*重置样式*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
body { background: #fff; font-size: 12px; font-style: normal; font-family:'Microsoft Yahei','微软雅黑','Simsun','宋体','Arial', sans-serif; color: #000;}
em, b, i {font-style:normal;}
li {list-style:none;}
img {border:0;}
a { text-decoration:none; }
a:hover { text-decoration:underline;}
table { border-spacing:0; border-collapse:collapse;}

.flt {
    float: left;
}

.frt {
    float: right;
}

.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}

.all{margin-left: auto;margin-right: auto;}
/*从头部导航开始*/
.nav-bg{height:49px;background-color: #000;}
.nav{width:1200px;height:49px;margin:0 auto;}
.nav-left{float:left;background: url(../images/index_0.png);width:46px;height:17px;display:inline-block;margin-top: 15px}
.nav-right{float:right;height:49px;line-height:49px;font-size:14px;}
.subnav{display:inline-block;color:#ddd;text-align: right;margin-left:20px;}
.subnav:hover{color:#868686;text-decoration: none;}
.clickafter-color{color:#868686}






/*海报部分的样式*/
.poster{height:657px;background: #000;}




/*信息分类处样式*/
.section-bg{height:167px;}
.section{width:1200px;height:167px;margin:0 auto;}
.section-info{width:400px;height:57px;display:block;float:left;box-sizing: border-box; border-right:1px #ddd solid;margin-top:50px;color:#000}
.section-info:hover{color:rgb(247, 130, 0)}
.section-info:last-child{border:0;}
.section-info>img{float:left;margin-left: 50px;}
.section-info>span{float:left;margin-left: 20px;margin-top:3px;}
.section-info>span>h3{font-size: 18px;}
.section-info>span>i{font-size: 14px;}



/*底部样式*/
.footer-bg{height:160px;}
.footer{height:160px;width:1200px;margin:0 auto;border-top: 1px #ddd solid;}
.footer>ul{width:1200px;height:21px;text-align: center;margin-top:60px;}
.footer>ul>li{display:inline-block;width:111px;border-right: 1px rgb(217,217,217) solid;height:14px;line-height:14px;position:relative;}
.footer>ul>li:last-child{border-right:0;}
.all-language{background:url(../images/index_3.png) no-repeat 90px -20px;}
.footer>ul>li>.language{display:none;position:absolute;bottom:-13px;line-height:14px;zoom:1;text-align: center;
background:url(../images/index_3.png) no-repeat 92px 138px #fff;}

.footer>ul>li:hover .language{display:block;}

.footer>ul>li>.language>a{display:inline-block;width:110px;color:#858585;line-height:40px;
  text-align: center;text-decoration: none;font-size:14px;padding-left: 1px;padding-right: 15px;}
  .footer>ul>li>.language>a:hover{color:#f78200}


.footer>ul>li>a{color:#858585;font-size:14px;}
.weixin-pic{display:none;position:absolute;left:-20px;bottom:20px;}
.footer>ul>li>.guanfangweixin:hover .weixin-pic{display:block;}
.footer>ul>li>a:hover{color:#f78200;}
.footer p{color:#c5c6c8;text-align: center;margin-top:10px;}
